/build/
/bin/
.gradle/
/.factorypath
/.springBeans

*.class
*.log
*.jar
!gradle-wrapper.jar
*.db

#########
#Eclipse
#########

.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
local.properties
.settings/
.loadpath

